.img_parent1 img{
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 100%;
}
.img_parent2 img{
  max-width: 100%;
  width: auto;
  height: auto;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px;
  width: 300px
}
.img_parent3 img{
  max-width: 100%;
  width: auto;
  height: auto;
  margin:0 auto;
  display: block;
}
.img_parent4 img{
  max-width: 100%;
  width: auto;
  height: auto;
  opacity:0.2;
  transition: 1s;
}
.img_parent4 img:hover{
  max-width: 100%;
  width: auto;
  height: auto;
  opacity:1;
}
