*{
  margin: 0;
  padding: 0;
}
html,
body{
  height:100%;
}
.for_page{
  position: relative;
  min-height: 100%;
}
.page{
  padding-bottom: 58px;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.fl{
float: left;
}
.fr{
float: right;
}
.clear{
  clear: both;
}
.phone_main,
.adress_main{
  width: 27%;
  padding-top: 25px;
}
.clock_work{
  width: 25%;
  text-align: center;
  padding-top: 25px;
}
.logo{
  width:20%;
}
.phone_main i,
.adress_main i,
.clock_work i{
  font-size: 23px;
}
.adress_main i{
  color:#af0101;
}
.clock_work span{
  line-height:
}
img{
  max-width: 100%;
  width: auto;
  height: auto;
}
.header{
  margin-top:15px;
}
.phone_main a{
  text-decoration: none;
  color:#333;
}
.phone_main a:hover{
  color:#168BD4;
}
.adress_main{
  color:#333;
  cursor: pointer;
}
.adress_main:hover{
  color:#168BD4;
}
.nav-menu{
  width: 100%;
  background: #2b4296;
  margin-top:15px;
}
ul.menu-main li.item-menu{
  list-style: none;
  float: left;
}
ul.menu-main li.item-menu a{
  text-decoration:none;
  color:white;
  font-size: 14px;
  padding:20px 15px;
  display: block;
}
ul.menu-main li.item-menu a:hover{
  color:#cacacc;
}
ul.menu-main li.item-menu:nth-child(3){
  position: relative;
}
ul.menu-main li.item-menu:nth-child(3) ul.child-menu-item{
  position: absolute;
  background: #2b4296;
  list-style-type: none;
  display: none;
}
ul.menu-main li.item-menu:nth-child(3):hover ul.child-menu-item{
  display: block;
}
ul.menu-main li.item-menu ul.child-menu-item li{
  float:inherit;
}
ul.menu-main li.item-menu ul.child-menu-item li a
{
  padding:9px 15px;
}
.slide1{
  background: url(img/slide1.jpg);
  background-size: cover;
  padding: 200px 0;
}
.slide2{
  background: url(img/slide2.jpg);
  background-size: cover;
  padding: 200px 0;
}
.item h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.text_slider{
  font-size: 28px;
  font-style: italic;
}
#home_slider.owl-carousel .owl-nav .owl-prev{
  background: url(img/arrow_prev.png) no-repeat;
  width: 8px;
  height: 13px;
  outline: none;
  position: absolute;
  bottom:230px;
  left:16px;
}
#home_slider.owl-carousel .owl-nav .owl-next{
  background: url(img/arrow_next.png) no-repeat;
  width: 8px;
  height: 13px;
  outline: none;
  position: absolute;
  bottom:230px;
  right:16px;
}
#home_slider.owl-carousel .owl-nav .owl-prev:hover,
#home_slider.owl-carousel .owl-nav .owl-next:hover{
  opacity:0.6;
}
.box_text{
  width: 40%;
  float: left;
  font-size: 16px;
  font-style:italic;
  line-height: 24px;
  margin-top: 130px;
}
.img_block2{
  width: 60%;
  float: right;
  box-sizing: border-box;
  height: 200px;
}
.block2{
  padding: 60px 0;
}
.img_block2 img{
  display: block;
  margin: 0 auto;
  height: 390px;
}

.footer{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #09084D;
  color: white;
  padding: 20px 20px;
}
