body {
  background: url(jpg/background.jpg) no-repeat;
  background-size:cover;
}
.div1 {
  width: 50%;
}
.div1 h2{
  text-align: center;
  text-transform:uppercase;
  color:white;
}
.div1 p{
  text-transform: lowercase;
  text-indent: 20px;
  color:white;
}
.div2 {
  width:50%;
}
.div2 input {
    width:100%
}
.div2 textarea{
  width:100%;
}
textarea{
 outline: none;
 width: 100%;
 height: 100px;
 padding: 7px;
 resize: none;
}
textarea:focus{

}
input[type=text]{
  width: 100%;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}
input:focus{
  border:solid 1px #34EDE6;
}
.form{
  width: 500px;
}
